@{
    ViewBag.Title = "SISTEMA CLIENT CONTROL";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
<ol class="round">
    <li class="one">
        <h5>Introducción</h5>
        EL SISTEMA CLIENT CONTROL, es una aplicación Cloud, que Gestiona y Administra 
        los estados de los clientes dentro de la empresas, Evia promociones a clientes frecuentes. 
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Más información…</a>
    </li>

  
</ol>
