@{
    ViewBag.Title = "buscar";
}

<h2>buscar</h2>

<form action="/Datos/buscarCliente" method="post"> 
  ID CLIENTRE: <input type="text" name="id"><br>
  <input type="submit" value="BUSCAR"><br>
</form>